@{
    ViewData["Title"] = "Gdy NuGet to za mało - wprowadzenie do NodeServices";
}

<div class="text-center">
    <h1 class="display-4">Cześć!</h1>
    <p style="font-size: 32px">Witam na TechTalk dotyczącym NodeServices</p>
    <p style="font-size: 24px">Nazywam się <strong>Mateusz Marks</strong> i będę Waszym przewodnikiem :)</p>
    <p><img src="guide.jpg" alt=""/></p>
</div>
