@model NodeServicesPlayground.Models.MoreRealLifeViewModel

<div>
    <h4>More Real-Life Example</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnsortedNames)
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.UnsortedNames)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SortedNames)
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.SortedNames)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
