@model NodeServicesPlayground.Models.MultipleFunctionsViewModel

<div>
    <h4>Multiple Functions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFromFunction1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFromFunction1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFromFunction2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFromFunction2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
